@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Jua', sans-serif;
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    background-color: rgb(60, 161, 111);
}

.report{
    height:500px;

    font-size: 20px;

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    gap: 50px;
    padding:50px;
}

.router{
    height:70%;

    flex:1;

    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(152, 152, 152);

    border-radius: 8px;
    padding: 20px;
}

.router:hover{
    background-color: lightgray;
    box-shadow: 3px 3px 3px grey;
    cursor: pointer;
}