@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Jua', sans-serif;
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    background-color: rgb(60, 161, 111);
}

.report{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    gap: 50px;
    padding:50px;
}

table{
    height:auto;
    width:auto;

    background-color: rgb(229, 229, 229);

    padding:10px;
}

table th{
    font-size: 40px;
    padding:5px;
}

table td{
    font-size: 30px;
    padding:5px;
}